.welcome-container {
    width: 350px;
    height: 80vh;
    background-color: #3969c7;
    display: flex;
    flex-direction: column;
  }
  
  .alert {
    background-color: #c73939;
  }
  
  .info {
    background-color: #c77539;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  